@(person: util.cprbroker.IPerson)

		            <div class="row">
		                <div class="col-md-6">
		                    <br/>
		                    <div class="panel panel-default">
		                    
		                        <div class="panel-heading">
		                            <h3 class="panel-title">@Messages("resultat.postaddresse")</h3>
		                        </div>
		                    
		                        <div class="panel-body">
		                            @if(person.address.danishAddress.streetName) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.streetName")</dt>
		                                    <dd>@person.address.danishAddress.streetName</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.streetNameForAddressing) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.streetNameForAddressing")</dt>
		                                    <dd>@person.address.danishAddress.streetNameForAddressing</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.streetBuilding) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.streetBuilding")</dt>
		                                    <dd>@person.address.danishAddress.streetBuilding</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.floor) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.floor")</dt>
		                                    <dd>@person.address.danishAddress.floor</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.suite) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.suite")</dt>
		                                    <dd>@person.address.danishAddress.suite</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.districtSubdivision) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.districtSubdivision")</dt>
		                                    <dd>@person.address.danishAddress.districtSubdivision</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.postCode) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.postCode")</dt>
		                                    <dd>@person.address.danishAddress.postCode</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.districtName) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.districtName")</dt>
		                                    <dd>@person.address.danishAddress.districtName</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.mailSublocation) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.mailSublocation")</dt>
		                                    <dd>@person.address.danishAddress.mailSublocation</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.postOfficeBox) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.postOfficeBox")</dt>
		                                    <dd>@person.address.danishAddress.postOfficeBox</dd>
		                                </dl>
		                            }
		                            @if(person.address.danishAddress.countryIdentificationCode) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.countryIdentificationCode")</dt>
		                                    <dd>@person.address.danishAddress.countryIdentificationCode</dd>
		                                </dl>
		                            }
		                            
		                            @if(person.address.danishAddress.municipalityCode) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.municipalityCode")</dt>
		                                    <dd>@person.address.danishAddress.municipalityCode</dd>
		                                </dl>
		                            }                                                                                  
		                            @if(person.address.danishAddress.streetCode) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.streetCode")</dt>
		                                    <dd>@person.address.danishAddress.streetCode</dd>
		                                </dl>
		                            }                                                                                  
		                            @if(person.address.danishAddress.streetBuildingIdentifier) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.streetBuildingIdentifier")</dt>
		                                    <dd>@person.address.danishAddress.streetBuildingIdentifier</dd>
		                                </dl>
		                            }                                                                                  
		                            @if(person.address.danishAddress.politiDistrikt) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.politiDistrikt")</dt>
		                                    <dd>@person.address.danishAddress.politiDistrikt</dd>
		                                </dl>
		                            }                                                                                  
		                            @if(person.address.danishAddress.postDistrikt) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.postDistrikt")</dt>
		                                    <dd>@person.address.danishAddress.postDistrikt</dd>
		                                </dl>
		                            }                                                                                  
		                            @if(person.address.danishAddress.skoleDistrikt) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.skoleDistrikt")</dt>
		                                    <dd>@person.address.danishAddress.skoleDistrikt</dd>
		                                </dl>
		                            }                                                                                  
		                            @if(person.address.danishAddress.socialDistrikt) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.socialDistrikt")</dt>
		                                    <dd>@person.address.danishAddress.socialDistrikt</dd>
		                                </dl>
		                            }                                                                                  
		                            @if(person.address.danishAddress.sogneDistrikt) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.sogneDistrikt")</dt>
		                                    <dd>@person.address.danishAddress.sogneDistrikt</dd>
		                                </dl>
		                            }                                                                                  
		                            @if(person.address.danishAddress.valgkredsDistrikt) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.valgkredsDistrikt")</dt>
		                                    <dd>@person.address.danishAddress.valgkredsDistrikt</dd>
		                                </dl>
		                            }                                                                                  
		
		                            @if(person.address.danishAddress.isSpecielVejkode) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.isSpecielVejkode")</dt>
		                                    <dd>@person.address.danishAddress.isSpecielVejkode</dd>
		                                </dl>
		                            }                           
		                            @if(person.address.danishAddress.isUkendtAdresse) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.isUkendtAdresse")</dt>
		                                    <dd>@person.address.danishAddress.isUkendtAdresse</dd>
		                                </dl>
		                            }                                                                                  
		                                                       
		                            @if(person.address.danishAddress.note) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.note")</dt>
		                                    <dd>@person.address.danishAddress.note</dd>
		                                </dl>
		                            }                           
		                            @if(person.address.danishAddress.danishNote) {
		                                <dl class="dl-horizontal">
		                                    <dt>@Messages("person.address.danishAddress.danishNote")</dt>
		                                    <dd>@person.address.danishAddress.danishNote</dd>
		                                </dl>
		                            }                                                                                  
		                        </div>
		                        <div class="panel-footer"><p class="text-right">@virkning(person.effect, true)</p></div>
		                    </div>
		                </div>
		
		                @* Have to do some silly check here, because a worldAddress ALWAYS has two fields..*@
		                @if(person.otherAddress != null &&
		                     person.otherAddress.worldAddress != null &&
		                     (person.otherAddress.worldAddress.locationDescriptionText ||
		                         person.otherAddress.worldAddress.postalAddressFirstLineText ||
		                         person.otherAddress.worldAddress.postalAddressSecondLineText ||
		                         person.otherAddress.worldAddress.postalAddressThirdLineText ||
		                         person.otherAddress.worldAddress.postalAddressFourthLineText ||
		                         person.otherAddress.worldAddress.postalAddressFifthLineText)
		                         
		                 ) {
		                    
		                    @if(person.otherAddress.addressType == util.cprbroker.EAddressType.World) {
			                <div class="col-md-6">
			                <br/>
                            <div class="panel panel-default">
                            
                                <div class="panel-heading">
                                    <h3 class="panel-title">@Messages("resultat.andenaddresse")</h3>
                                </div>
                            
                                <div class="panel-body">
	                            
				                    @if(person.otherAddress.worldAddress.locationDescriptionText) {
		                                        <dl class="dl-horizontal">
		                                            <dt>@Messages("person.otherAddress.worldAddress.locationDescriptionText")</dt>
		                                            <dd>@person.otherAddress.worldAddress.locationDescriptionText</dd>
		                                        </dl>
		                            }
	                                @if(person.otherAddress.worldAddress.postalAddressFirstLineText) {
	                                            <dl class="dl-horizontal">
	                                                <dt>@Messages("person.otherAddress.worldAddress.postalAddressFirstLineText")</dt>
	                                                <dd>@person.otherAddress.worldAddress.postalAddressFirstLineText</dd>
	                                            </dl>
	                                }
	                                @if(person.otherAddress.worldAddress.postalAddressSecondLineText) {
	                                            <dl class="dl-horizontal">
	                                                <dt>@Messages("person.otherAddress.worldAddress.postalAddressSecondLineText")</dt>
	                                                <dd>@person.otherAddress.worldAddress.postalAddressSecondLineText</dd>
	                                            </dl>
	                                }
	                                @if(person.otherAddress.worldAddress.postalAddressThirdLineText) {
	                                            <dl class="dl-horizontal">
	                                                <dt>@Messages("person.otherAddress.worldAddress.postalAddressThirdLineText")</dt>
	                                                <dd>@person.otherAddress.worldAddress.postalAddressThirdLineText</dd>
	                                            </dl>
	                                }
	                                @if(person.otherAddress.worldAddress.postalAddressFourthLineText) {
	                                            <dl class="dl-horizontal">
	                                                <dt>@Messages("person.otherAddress.worldAddress.postalAddressFourthLineText")</dt>
	                                                <dd>@person.otherAddress.worldAddress.postalAddressFourthLineText</dd>
	                                            </dl>
	                                }
	                                @if(person.otherAddress.worldAddress.postalAddressFifthLineText) {
	                                            <dl class="dl-horizontal">
	                                                <dt>@Messages("person.otherAddress.worldAddress.postalAddressFifthLineText")</dt>
	                                                <dd>@person.otherAddress.worldAddress.postalAddressFifthLineText</dd>
	                                            </dl>
	                                }
	                                @if(person.otherAddress.worldAddress.isUkendtAdresseIndikator) {
	                                            <dl class="dl-horizontal">
	                                                <dt>@Messages("person.otherAddress.worldAddress.isUkendtAdresseIndikator")</dt>
	                                                <dd><span class="glyphicon glyphicon-ok-circle"></span></dd>
	                                            </dl>
	                                }
                                    @if(person.otherAddress.worldAddress.note) {
                                                <dl class="dl-horizontal">
                                                    <dt>@Messages("person.otherAddress.worldAddress.note")</dt>
                                                    <dd>@person.otherAddress.worldAddress.note</dd>
                                                </dl>
                                    }
	                                
                            </div>
		                  </div>
		                  </div>
		                  }
		                }      
		        </div>
