@* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 2.0/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License
 * Version 2.0 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS"basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * Contributor(s):
 * Søren Kirkegård
 *
 * The code is currently governed by OS2 - Offentligt digitaliserings-
 * fællesskab / http://www.os2web.dk .
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** *@
 
@(form: play.data.Form[Search.SearchInput], user: String)

@main("CPReader") {
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">	
		<h1>Søgevejledning</h1>
		<p>Der kan søges på CPR nummer eller navn. Søgninger på navn er ikke case sensitiv. En søgning på 'hansen' er dermed det samme som en søgning på 'Hansen'. Bemærk, at det ikke er muligt at søge på et fornavn uden at angive et efternavn. Ligeledes er det ikke muligt at søge på et mellemnavn uden at angive et fornavn og et efternavn. Navnesøgninger skal være kommaseparerede til at angive, hvad der er fornavn, mellemnavn og efternavn. Søgeresultatet vil være usorteret.</p>
		<h2>Mulige søgemønstre</h2>
		<ul>
		  <li>efternavn</li>
		  <li>fornavn, efternavn</li>
		  <li>fornavn, mellemnavn, efternavn</li>
		  <li>cpr-nummer med eller uden bindestreg</li>
		</ul>
		<h2>Eksempler</h2>
		<ul>
		  <li>Jensen</li>
		  <li>Jens, Jensen</li>
		  <li>Jens, Peter, Jensen</li>
		  <li>0101721337</li>
		  <li>010172-1337</li>
		</ul>
      </div>
}