@* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 2.0/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License
 * Version 2.0 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS"basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * Contributor(s):
 * Søren Kirkegård
 *
 * The code is currently governed by OS2 - Offentligt digitaliserings-
 * fællesskab / http://www.os2web.dk .
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** *@
 
@(persons : java.util.List[util.cprbroker.IPerson], results : Int, currentpage : Int, location : String, query: String)

@main("CPReader") {

 <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Messages("results.list.amountOfResults", results) <strong>@query</strong></h3>
    </div>
 </div>
 
 @partial_pagination(results, currentpage, location)
	    
 <div class="list-group">
     @for(person <- persons) {
     <a href="/show/uuid/@person.uuid/" class="list-group-item">
      @person.registerInformation.cprCitizen.socialSecurityNumber
      @if(person.firstname) { @person.firstname}
      @if(person.middelname) { @person.middelname}
      @if(person.lastname) { @person.lastname}
      @if(person.address != null && person.address.addressType == util.cprbroker.EAddressType.Danish ) {
        <span class="text-muted">
        @if(person.address.danishAddress.streetName) { @person.address.danishAddress.streetName}
        @if(person.address.danishAddress.streetBuilding) { @person.address.danishAddress.streetBuilding}
        @if(person.address.danishAddress.floor) { @person.address.danishAddress.floor}
        @if(person.address.danishAddress.suite) { @person.address.danishAddress.suite}
        @if(person.address.danishAddress.postCode) { @person.address.danishAddress.postCode}
        @if(person.address.danishAddress.districtName) { @person.address.danishAddress.districtName}
        </span>    
      }
     </a>
     }
 </div>
 
 @partial_pagination(results, currentpage, location)
 
  
}