@* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 2.0/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License
 * Version 2.0 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS"basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * Contributor(s):
 * Søren Kirkegård
 *
 * The code is currently governed by OS2 - Offentligt digitaliserings-
 * fællesskab / http://www.os2web.dk .
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** *@

@(relation: util.cprbroker.IRelationshipWithIPerson)

@import util.cprbroker.ERelationshipType;
@import play.Play;
<div class="col-md-6">
 <div class="panel panel-default">
	    <div class="panel-heading">
    @if(relation.person.code == 200 || Play.application().configuration().getInt("cprbroker.accesslevel") > 0) {
    <a href="/show/uuid/@relation.person.uuid/">
    }           
		     
	         <h3 class="panel-title">
	             <span class="glyphicon glyphicon-user"></span> @relation.relationshipType
	             @if(relation.person.code == 200) {
	                 @relation.person.registerInformation.cprCitizen.socialSecurityNumber
		                 @if(relation.person.firstname) { @relation.person.firstname}
		                 @if(relation.person.middelname) { @relation.person.middelname}
		                 @if(relation.person.lastname) { @relation.person.lastname}
	             }	             
	         </h3>
		 </div>
		 @if(relation.person.code == 200 || Play.application().configuration().getInt("cprbroker.accesslevel") > 0) {
     </a>
     }
      <div class="panel-body">
         @if(relation.person.code != 200) {
               @if(Play.application().configuration().getInt("cprbroker.accesslevel") > 0) {
                   <p>Der findes ingen lokale informationer om denne relation, men du kan slå den op i en ekstern kilde. Bemærk at dette medfører en omkostning for opslaget. <p/>
               } else {
                   <p>Der findes ingen lokale informationer om denne relation, og din installation giver ikke tilladelse til at lave opslag i eksterne kilder.</p>
               }
          }
      
         @tilstande(relation.person.tilstand)
         @virkning(relation.effect, true)
      </div>
 </div>
</div>
